<%= form_for(tokimon) do |f| %>
  <% if tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label("Tokimon Name") %>
    <%= f.text_field :tkname %>
  </div>

  <div class="field">
    <%= f.label("Weight in Pounds") %>
    <%= f.number_field :weight, :min => 0 %>
  </div>

  <div class="field">
    <%= f.label("Height in CM") %>
    <%= f.number_field :height, :min => 0 %>
  </div>

  <div class="field">
    <%= f.label :fly %>
    <%= f.number_field :fly, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :fight %>
    <%= f.number_field :fight, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :fire %>
    <%= f.number_field :fire, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :water %>
    <%= f.number_field :water, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :electric %>
    <%= f.number_field :electric, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :ice %>
    <%= f.number_field :ice, :min => 0, :max => 100 %>
  </div>

  <div class="field">
    <%= f.label :total %>
    
  </div>
  
    <div class="field">
    <%= f.label :trainer_id %><br>
    <%= f.collection_select( :trainer_id, Trainer.all, :id, :trname, {:include_blank => true} )%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>