<p id="notice"><%= notice %></p>

<p>
  <strong>Trname:</strong>
  <%= @trainer.trname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @trainer.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trainer.country %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @trainer.motto %>
</p>

<p>
  <strong>Id:</strong>
  <%= @trainer.id %>
</p>

<h3>Related Tokimon</h3>

<ul>
  <% @trainer.tokimons.each do |tokimon| %>
    <li><%= tokimon.tkname %> <%= link_to "Details", tokimon_path(tokimon) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
