<p id="notice"><%= notice %></p>

<p style= "color: <%= @trainer.team %>" >
  <strong>Trname:</strong>
  <%= @trainer.trname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @trainer.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trainer.country %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @trainer.motto %>
</p>

<p>
  <strong>Id:</strong>
  <%= @trainer.id %>
</p>

<h3>Related Tokimon</h3>

<ul>
  <% @trainer.tokimons.each do |tokimon| %>
    <li><%= tokimon.tkname %> <%= link_to "Details", tokimon_path(tokimon) %></li>
  <% end %>
</ul>



<% @trainer.tokimons.each do |tokimon| %>
    <div class="div_box" style="width:<%=tokimon.weight%>px; height:<%=tokimon.height%>px; color: black">
        <p class="s_box"><%= tokimon.tkname %></p>
        <p class="s_box">Abilities Total: <%= tokimon.total  %></p>
    </div>
<% end %>
    
<br>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
